
            <div id = 321>
                <div class = 'statbox' >
                <p class = 'bolder' > 321</p>
                <p><b>Winrate: </b>100%</p>
                <p><b>Position: </b>Defense</p>
                <p><b>Average Tele-op Charge Station: </b>10</p>
                <p><b>Average Auto Charge Station: </b>0</p>
                <p><b>Average Total Score: </b>20</p> 
                <p><b></b></p>
                <ul>
                
                </ul>

                
            </div>
            <br>
            </div>
            
            <div id = 7>
                <div class = 'statbox' >
                <p class = 'bolder' > 7</p>
                <p><b>Winrate: </b>100%</p>
                <p><b>Position: </b>Offense</p>
                <p><b>Average Tele-op Charge Station: </b>0</p>
                <p><b>Average Auto Charge Station: </b>0</p>
                <p><b>Average Total Score: </b>0</p> 
                <p><b></b></p>
                <ul>
                
                </ul>

                
            </div>
            <br>
            </div>
            
            <div id = 43>
                <div class = 'statbox' >
                <p class = 'bolder' > 43</p>
                <p><b>Winrate: </b>100%</p>
                <p><b>Position: </b>Offense</p>
                <p><b>Average Tele-op Charge Station: </b>0</p>
                <p><b>Average Auto Charge Station: </b>0</p>
                <p><b>Average Total Score: </b>0</p> 
                <p><b></b></p>
                <ul>
                
                </ul>

                
            </div>
            <br>
            </div>
            
            <div id = 124>
                <div class = 'statbox' >
                <p class = 'bolder' > 124</p>
                <p><b>Winrate: </b>100%</p>
                <p><b>Position: </b>Defense</p>
                <p><b>Average Tele-op Charge Station: </b>0</p>
                <p><b>Average Auto Charge Station: </b>0</p>
                <p><b>Average Total Score: </b>0</p> 
                <p><b></b></p>
                <ul>
                
                </ul>

                
            </div>
            <br>
            </div>
            
            <div id = 312>
                <div class = 'statbox' >
                <p class = 'bolder' > 312</p>
                <p><b>Winrate: </b>100%</p>
                <p><b>Position: </b>Offense</p>
                <p><b>Average Tele-op Charge Station: </b>0</p>
                <p><b>Average Auto Charge Station: </b>0</p>
                <p><b>Average Total Score: </b>0</p> 
                <p><b></b></p>
                <ul>
                
                </ul>

                
            </div>
            <br>
            </div>
            