
        <div id = 231>
            <div class = 'statbox' >
            <p class = 'bolder' > 231</p>
            <p><b>Winrate: </b>100%</p>
            <p><b>Position: </b>Offense</p>
            <p><b>Average Tele-op Charge Station: </b>10</p>
            <p><b>Average Auto Charge Station: </b>12</p>
            <p><b>Average Total Score: </b>44</p> 
            <p><b></b></p>
            <ul>
            
            </ul>

            
        </div>
        <br>
        </div>
        
        <div id = 312312>
            <div class = 'statbox' >
            <p class = 'bolder' > 312312</p>
            <p><b>Winrate: </b>100%</p>
            <p><b>Position: </b>Defense</p>
            <p><b>Average Tele-op Charge Station: </b>10</p>
            <p><b>Average Auto Charge Station: </b>12</p>
            <p><b>Average Total Score: </b>44</p> 
            <p><b></b></p>
            <ul>
            
            </ul>

            
        </div>
        <br>
        </div>
        
        <div id = 333>
            <div class = 'statbox' >
            <p class = 'bolder' > 333</p>
            <p><b>Winrate: </b>100%</p>
            <p><b>Position: </b>Defense</p>
            <p><b>Average Tele-op Charge Station: </b>0</p>
            <p><b>Average Auto Charge Station: </b>0</p>
            <p><b>Average Total Score: </b>0</p> 
            <p><b></b></p>
            <ul>
            
            </ul>

            
        </div>
        <br>
        </div>
        