
        <div id = 111>
            <div class = 'statbox' >
            <p class = 'bolder' > 111</p>
            <p><b>Winrate: </b>100%</p>
            <p><b>Position: </b>Defense</p>
            <p><b>Average Tele-op Charge Station: </b>3.33</p>
            <p><b>Average Auto Charge Station: </b>8</p>
            <p><b>Average Total Score: </b>22.67</p> 
            <p><b></b></p>
            <ul>
            
            </ul>

            
        </div>
        <br>
        </div>
        