<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scouting Form</title>
</head>
<body>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='overall.css') }}">
    <div class = 'uppergrid'>
        <div class = 'item2'><img src = "{{ url_for('static',filename='logo.png') }}" width = '5000' height = '50'></div>
        <div class = 'item'>Form</div>
        <div class = 'item3'>Data</div>
    </div><br><br><br><br><br><br><br>
    <div class = 'centerBox'>
        <h1>Paradigm Shift Scouting Form</h1><br>
        <form>
            <h2>General Information</h2>
            <span></span><label>Team Number: </label><input type = 'text' id = "teamNo" name = "teamNo" onkeypress="return isNumberkey(event)"><br><br>
            <span></span><label>Match #: </label><input type = 'text' id = "matchNo" name = "matchNo" onkeypress="return isNumberkey(event)"><br><br>
            <span></span><label>Team Color: <select><option class = "option red">Red</option><option class = "option blue">Blue</option></select><br><br>
            
            <h2>Autonomous</h2>
            <span></span><label margin-bottom = '100px'>Item(s) scored in Automous:</label><br>
            <span></span><span></span><label>Cone: </label><input class = "input tiny" type = 'text' id = "autoConeScoreNo" name = "autoConeScoreNo" onkeypress="return isNumberkey(event)"><br>
            <span></span><span></span><label>Cube: </label><input class = "input tiny" type = 'text' id = "autoCubeScoreNo" name = "autoCubeScoreNo" onkeypress="return isNumberkey(event)"><br><br>
            <span></span><label>Charge Station Status: </label> 
                <select>
                    <option>Engaged</option>
                    <option>Not Engaged</option>
                    <option>Not on it</Option>
                </select><br><br>
            <span></span><label>Crossed the community? </label><select>
                <option>Yes</option>
                <option>No</option>
            </select><br><br>
            
            <h2>Tele-Op Period</h2>
            <span></span><label>Gameplay Position </label><select>
                <option>Defense</option>
                <option>Offense</option>
                <option>Not Functional</option>
            </select><br><br>
            <span></span><label>Item(s) scored in Tele-Op:</label><br>
            <span></span><span></span><label>Cone: </label><input class = "input tiny" type = 'text' id = "teleConeScoreNo" name = "teleConeScoreNo" onkeypress="return isNumberkey(event)"><br>
            <span></span><span></span><label>Cube: </label><input class = "input tiny" type = 'text' id = "teleCubeScoreNo" name = "teleCubeScoreNo" onkeypress="return isNumberkey(event)"><br><br>
            <span></span><label>Charge Station Status: </label> 
                <select>
                    <option>Engaged</option>
                    <option>Not Engaged</option>
                    <option>Not on it</Option>
                </select>
            </select><br><br>
            
            <h2>Additional Comments</h2>
            <div class = 'center'><textarea id = 'comment' value = 'comment'></textarea><br><br><input type = 'submit' value = 'SUBMIT'></div>
            <script>
                function isNumberKey(evt){
                    var charCode = (evt.which) ? evt.which : evt.keyCode
                    if (charCode > 31 && (charCode < 48 || charCode > 57))
                        return false;
                    return true;
                }
            </script>
           
        </form>
    </div>
</body>
</html>